.container {
    height: 400px;
}

.cuadro {
    height: 200px;
    opacity: 0.5;
    transition: opacity 500ms;
}

#tablero-juego {
    background-color: lightgray;
}

#cuadro-1 {
    background-color:#1ad771;
}

#cuadro-2 {
    background-color:#fb472e;
}

#cuadro-3 {
    background-color:#f5f821;
}

#cuadro-4 {
    background-color:#1e98db;
}

.en-juego {
    opacity: 20%;
}

.clickeado {
    opacity: 70%    
}

body {
    background-color: rgb(226, 226, 226);
}


header {
    text-align: center;
    font-family: monospace;
}

button {
    font-family: monospace;
}

strong {
    font-family: monospace;
}

.oculto {
    display: none;
}

#error-jugada {
    font-size: 32px;
    color: red;
}

#div-tapa-jugada {
    opacity: 0%;
}
